#layout {
  padding-bottom: 20px;
}
#monitor-text {
  margin-left: 10px;
  margin-top: 10px;
  min-height: calc(100vh - 100px);
  width: 100%;
}
#run-tests-button {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}
#worker-status {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-check-label {
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}
#test-list {
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#about {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#params-form {
  max-height: calc(50vh - 120px);
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
}

.tab-content > .active {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#config-tab-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}

#config-sidebar {
  margin-top: 10px;
  border-right: 1px solid #eaeaea;
}

#config-save-button {
  margin: auto;
  margin-top: 30px;
  width: 80%;
}

.running.list-group-item {
  animation: successBlinker 2s linear infinite;
}

.pending.list-group-item {
  animation: warningBlinker 2s ease-in-out infinite;
}

.error.list-group-item {
  animation: errorBlinker 2s ease-in-out infinite;
}

@keyframes successBlinker {
  0% {
    background-color: #dcecffcc;
  }
  50% {
    background-color: #dcecff00;
  }
  100% {
    background-color: #dcecffcc;
  }
}

@keyframes warningBlinker {
  0% {
    background-color: #ffeeba;
  }
  50% {
    background-color: #ffeeba2f;
  }
  100% {
    background-color: #ffeeba;
  }
}

@keyframes errorBlinker {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ffadad;
  }
  100% {
    background-color: #ffffff;
  }
}
